/* .Body {
  background-color:black; */
  /* display: flex; */
  /* justify-self: center;
  align-self: center; */
  /* width: auto; */
 /* } */

/* Responsive styles */
@media screen and (max-width: 1000px) {
  
  .top-line {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .logo-container {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 4.5em;

  }

  .contact-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .contact-link-container {
    margin-bottom: 0.5em; 
  }

    .navbar-nav {
    margin-top: 15px;
    padding-right: 32em;
    gap:1em;
  }
  
  .navbar {
    flex-direction: column;
    padding: 1em;
  }
  
  .navbar-nav {
    margin-top: 0; 
    gap:0em;
  }

  .nav-link {
    width: 7em;
    margin: 0 7px; /* Add spacing around text in NavBar */
  }
  .habout {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    color: #fff;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    text-shadow: 3px 2px 5px #f2a8a8;
    font-size: 3em;
    font-weight:bolder;
    text-align: center;
    animation: slideIn 2s ease-in; /* Define animation */
  }

}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .top-line {
    font-size: 0.75em ;
    font-weight: bold;
    gap:0em;
  }
  
  .contact-info1 {
    margin-top: 0.5em;
    font-size: 0.75em ;
  }
  
  .logo-container {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 4.5em;
    justify-content: center;

  }
  
  .navbar-toggler {
    margin-right: 0; /* Remove margin for toggler on smaller screens */
  }
  .contact-link{
    margin-right: 0.25em;
    
    }
    .nav-link {
      width: 6em;
      margin: 0 7px; /* Add spacing around text in NavBar */
  }
  .phome {
    text-align: justify;
  padding: 2.5em 0em 0 0.25em;
  }
  .habout {
    color: #fff;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    text-shadow: 3px 2px 5px #f2a8a8;
    font-size: 2em;
    font-weight:bolder;
    text-align: center;
    animation: slideIn 2s ease-in; /* Define animation */
  }
}
@media  screen and (max-width: 400px){
  .top-line {
    font-size: 0.5em ;
    font-weight: bold;
    gap:0em;
  }

  .logo-container {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 4.5em;
    width: auto;
  }

  .contact-info1 {
    margin: 0;
    margin-top: 1em;
    font-size: 0.5em ;

  }

  .navbar-toggler {
    margin-right: 0; /* Remove margin for toggler on smaller screens */
  }
  .contact-link{
    margin-right: 0.25em;
    
    }
    .nav-link {
      width: 6em;
      margin: 0 7px; /* Add spacing around text in NavBar */
  }
  .phome {
  text-align: center;
  align-items: center;
  padding: 1em 0em 0 0.25em;
  }
  .habout {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    color: #fff;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    text-shadow: 3px 2px 5px #f2a8a8;
    font-size: 2em;
    font-weight:bolder;
    text-align: center;
    animation: slideIn 2s ease-in; /* Define animation */
  }
}

/* NavBar */
  .nav-link {
    width: 6em;
    margin: 0 7px; /* Add spacing around text in NavBar */
}
  .navbar-nav {
    margin-top: 10px;
    padding-right: 32em;
    gap:1em;
  }


/*NavBar

/* Logo and Contact Information */

.top-line {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  justify-content:space-between; 
  background-color: rgb(94, 32, 32);
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #f0e5e5;
  width: 100%;
  padding-right: 3em;
  margin: 0px;
  animation: fade-in 2s ease-in-out forwards; 
}

.logo-container {
  display: flex;
  justify-content: center;
padding-right: 5em; 
color:#c9c9c9; 
}

.Logopic {
  display: flex;
  padding-right: 2em;
}

.contact-info1 {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2em;
  gap:2em;
}
.contact-link-container {
  display: flex;
  align-items: center;
  position: relative;
}


.contact-link {
  display: grid;
  position: relative;
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  font-size: 1.1em;
  color:#ddd4d4;
  text-decoration: none;
  margin-right: 15px;
  overflow: hidden;
}

/* Animated Line for First Line */
.contact-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #e65a5a;
  text-decoration: none;
  /* transform: scaleX(0); */
  transform-origin: bottom right;
  transition: width 0.3s ease;
}

.contact-link:hover {
  text-decoration: none; 
  color:#240b0b;
}

.contact-link:hover::before {
  width: 100%; 
}

/* Main Navigation Bar */
.navbar-container {
  /* display: grid; */
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.active-link {
  background-color: #9c202c; /* Dark red color code for active page */
  color: #fff;
}

/* Ensure the text color for inactive links is white */

.navbar {
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  align-content: right;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 10px; 
  margin-right: 0; 
}
.navbar-nav {
  margin-top: 15px;
  padding-right: 3em;
  gap:3em;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: rgb(32, 31, 31);
  width: 8em;
  height: 2.5em;
  border: none;
  color: #fff;
  padding: 60px; 
  border-radius: 15px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e88c8c;
  transition: width 0.3s ease;
  content: '\260E'; /* Unicode for phone icon */
  margin-right: 5px;
}

.nav-link:hover {
  color: #a6d49d;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link span {
  margin-left: 5px;
}

.nav-link:active {
  color: #10110f;
  background: rgb(95, 60, 60);
}


/* Footer */
.container-footer {
  background-color: rgb(94, 32, 32);
  color: white;
  text-align: center;
  padding: 2em;
  gap:2em;
}

.footer-row {
  margin: 0;
}

/* Contact Us section */
.contact-footer-colum {
  padding: 2em;
  text-align: center; 
}

.contact-us2{
  font-size: 2em;
}
.info-box-footer {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.company-info-footer {
  text-align: left;
  padding-bottom: 1em; 
}

.contact-information,
.about-information {
  padding-left: 1.75em;
}

.company-info {
  margin-bottom: 0.25em;
  text-align: left;
  font-size: 1.1em;
  
}

.footer-icons {
  display: flex;
  justify-content: start;
  margin-right: 0.5em; 
}


/* About section */
.about-box-footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

.about {
  letter-spacing: 5px;
  text-align: left;
  font-size: 2em;
}

.company-info-footer {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1em;
}

/* Media query for responsiveness */
@media (max-width: 767px) {
  .contact-footer-colum {
    padding: 0.25em; 
  }

  .about-box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.25em; 
  }
}


/* Media query for responsiveness */
@media (max-width: 400px) {
  .col-md-6.text-justify {
    padding: 0.5em; 
  }

  .about-box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.25em; 
  }
}


/*home */

.Bodyhome {
  background: #100e0e;
  justify-content: center;
  align-items: center;
 /* background:-webkit-linear-gradient(290deg, rgb(17, 23, 25) 0%, rgb(15, 17, 18) 100%); */
}
 .content-wrapper {
  padding: 0px; 
  margin: 0px;
  
  animation: fade-in 2s ease-in forwards; 
}

.phome {
  font-family: Arial,'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
  color:rgb(249, 246, 246);
  /* text-shadow: 1px 0px  #f7c4c4; */
  font-size: 3em;
  text-align: center;
  width: 80%;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 8.5em 0em 0em 1.5em;
  margin: 0px 0px 0px 0em;
  font-weight: 300;
  text-shadow: 2px 2px #100f0f;
  animation: slideout 2s ease-out; 
}

@keyframes slideout {
  0% {
    transform: translateX(-50%); /* Start off the screen to the left */
  }
  100% {
    transform: translateX(0); /* End at the original position */
  }
}

.button-row {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 0em 0em 0em;
  color: white;
  overflow: hidden;
  animation: slideIn 2s ease-in-out forwards;  
}
.anav2 {
  padding: 10px 15px;
  color: white;
  background-color: rgb(116, 12, 12);
  text-decoration: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-size: 1.1em;
  width: 10em;
  height: 3em;

}

.anav2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dfcbcb;
  transition: width 0.3s ease;
  content: '\260E'; /* Unicode for phone icon */
  margin-right: 5px;
  
}
.anav2:hover{
  background:rgb(115, 34, 34);
  border-radius: 10px;
  color:#fdb455;
  text-decoration: none;
  box-shadow: 0 7px rgb(192, 191, 191);

}
.anav:active {
  transform: translateY(7px);
  transform: scale(2.5);
  color:#ddd4d4;
  transform-style: preserve-3d;

}
.anav2:hover:before {
  width: 100%;
  color: #e19119;
  text-decoration: none;  box-shadow: 0 4px rgb(141, 141, 141);

}

.section2-home{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  width: 100%;
  font-size: 16.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0em;
  /* padding-top: 7em; */
}
.h2home-section2{
  font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
  color:rgb(249, 246, 246);
  /* text-shadow: 1px 0px  #f7c4c4; */
  font-size: 2em;
  font-weight: 500;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  padding: 0em 0em 2em 3em;
  margin: 0px 0px 0px 80px;
}

.homepic {
  /* display: flex; */
  align-items: right;
  justify-content: right;
  justify-content: flex-end;
  width:20em;
  height: auto;
  border-radius: 30px;
  /* box-shadow: 10px #999; */
  margin: 4em 0em 0em 15em;
  box-shadow: 2px 2px  #57595a;
  animation: slideIn 2s ease-out; 

}

.pics-3-home-section2 {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-content: start;
  margin:0em 0em 0em 3em;
  padding: 0em 0em 0.5em 8em;
  gap:0.55em;
  padding-top: 2em;
  animation: slideIn 2s ease-out; 
}
.carpark, .toil, .kitchen {
  display: grid;
  justify-content: row;
  border: solid 0.5em rgb(250, 231, 231);
  border-radius: 55% 40% 50% 12%;
}

   /*AboutUs */

   .about-us-container {
    background-color: #1d1c1c;
   }
   
  .section1-about {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   font-family: 'Arial, Helvetica, sans-serif';
 color: rgb(21, 20, 20);
 align-items: center;
 padding-top: 0px;
 line-height: 2em;
 padding: 2em;
 margin: 0px;
 width: 100%;
}

.h2about {
  font-size: 3em;
  letter-spacing: 0.2em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #f8e6ca;
  font-weight: bold;
  text-shadow: 1px 1px 5px #f2a8a8;
  border-bottom: 1px solid #dbc7c7;
  text-align: left;
  padding: 1.05em 0em 1em 2.5em;
  animation: fade-right 2s ease-in; 
 }

.pabout{
  font-size: 1.5em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #f8ece7;
  /* width: 78%; */
  text-align:justify;
  padding:2em;
  text-shadow: #000 2px;
  /* word-spacing: -1.5px; */
  /* text-justify: distribute; */
}
  
  .text-animation-container {
    animation: slideout 2s ease-out; 
  }
  
  @keyframes slideout {
   0% {
     transform: translateX(-50%); /* Start off the screen to the left */
   }
   100% {
     transform: translateX(0); /* End at the original position */
    }
  }
  

  .picabout1-animation-container {
   display: flex;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   animation: slideIn 2s ease-out; 
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(50%); /* Start off the screen to the left */
    }
    100% {
     transform: translateX(0); /* End at the original position */
    }
  }
  
.pic-2-section1 {
  display: grid;
  grid-template-rows: repeat( auto-fit, minmax(250px, 1fr) );
  margin: 0%;
} 

.picabout1, .picabout2, .picabout3{
  display: grid;
  justify-content: row;
  /* align-items: center; */
  margin: 0em;
}

.about1 {
  width: 20em;
  height: 16em;
  margin: 10px 3px 2px 10px;
  padding: 0%;
  cursor: pointer;
  /* transition: transform 0.3s ease; */ 
}
.about1-1{
  width: 34em;
  height: 33em;
  margin: 0px;
  padding: 2px 10px 2px 2px;
  /* z-index: 5; */
}


/* section2 */

.section2-about {
padding: 0px; 
  margin: 0px;
}

.picabout2 {
 cursor: pointer;
 animation: slideout 2s ease-out; 
}
.h2about-section2, .h2about2-section2{
  font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
  color:rgb(84, 11, 11);
  text-shadow: 1px 1px 3px #f0cece;
  font-size: 2.5em;
  font-weight: bold;
  width: 50%;
  line-height: 2em;
  padding: 1.5em 0em 0em 2em;
  margin: 0px 0px 0px 80px;
  animation: slideout 2s ease-out; 
}

@keyframes slideout {
 0% {
   transform: translateX(-50%); /* Start off the screen to the left */
 }
 100% {
   transform: translateX(0); /* End at the original position */
  }
}

  .spansection2{
    padding-top: 2.5em;
  }

/* section3-aboutus */

.section3-about{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  width: 100%;
  font-size: 16.5px;
  font-family: 'Arial, Helvetica, sans-serif';
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0em;
  padding-top: 2em;
  /* line-height: 2em; */
}
.h2about3 {
  font-size: 3em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #f7e9d3;
  font-weight: bold;
  text-shadow: 2px 1px 5px #f2a8a8;
  text-align: left;
  padding: 2em 0em 0.25em 2.5em;
  animation: slideout 2s ease-out; 
}

.pabout3{
  font-size: 1.5em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #f9f4f1;
  text-align:center;
  padding-left:4em;
  text-shadow: #000 2px;
  text-justify: distribute;
  word-spacing: -1.5px;
  animation: slideout 2s ease-out; 
   }
   
   .about3 {
    width: 28em;
    height: 29em;
    justify-content: center;
    align-items: center;
    margin: 5em 0em 2em 3em;
    cursor: pointer;
    border-radius: 55% 20% 35% 12%;
    animation: slideout 2s ease-out; 
    border: solid 0.5em rgb(250, 231, 231);
  }
   
   .logo-about3{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    margin:0em 0em 2em 3em;
    padding: 0em 0em 2em 3em;
    gap:4em;
    animation: slideout 2s ease-out; 

   }
.LogoMetal{
  /* flex:1; */
width: 19em;
height: 4.5em;
}

.Logobluebird{
  /* flex: 2; */
  width: 21em;
  height: 6.5em;
}
     /* Add these animations for scroll effects */
     /* .fade-right {
       opacity: 0;
       transform: translateX(-20px);
       transition: opacity 0.5s ease, transform 0.5s ease;
     }
     
     .fade-right.active {
       opacity: 1;
       transform: translateX(0);
     } */
    
   /* @keyframes slideIn {
     0% {
       transform: translateX(-50%); */
       /* Start off the screen to the left */
       /* }
       100% {
         transform: translateX(0); */
         /* End at the original position */
         /* } 
       }
       */    


/* responsive aboutus */

  /* @media screen and (max-width: 1800px) {

    .section1-about {
    padding: 1em;
    margin: 0px;
    width: 100%;
   }
    
   .h2about {
      font-size: 2.75em;
      letter-spacing: 0.1em;
      font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
      color: #f9dcaf;
      font-weight: bold;
      text-shadow: 1px 1px 5px #f2a8a8;
      padding: 1.75em 0em 0.25em 1.2em;
  }
  .pabout{
    font-size: 1.25em;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    color: #f4e7e0;
    text-align:justify;
    padding:2em;
    text-shadow: #000 2px;
    /* word-spacing:-4px; */
   /* }
   .picabout1-animation-container {
   display: flex;
   justify-content: row;
     } 
     .about1-1{
      width: 30em;
      height: 28em;
     margin: 10px 3px 10px 10px;
     padding: 2px;
     cursor: pointer;
    }
    
  .h2about2-section2{
    width: 90%;
    padding: 0.25em;
    padding-top: 2em;
    margin: 0px 0px 0px 45px;
    color:rgb(76, 29, 5);
    font-weight: bold;
    font-size: 2em;
  }
  
 .section3-about{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  
  font-family: 'Arial, Helvetica, sans-serif';
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0em;
  padding-top: 2em; 
 }  */
/* .h2about3 {
  font-size: 2.70em;
  color: #f8f0e3;
  padding: 2em 0em 0.25em 2.5em;
}

.pabout3{
  font-size: 1.5em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #f9f4f1;
  text-align:center;
  padding-left:4em;
  text-shadow: #000 2px;
  text-justify: distribute;
  word-spacing: -1.5px;
  animation: slideout 2s ease-out; 
   }
   
   .about3 {
    width: 28em;
    height: 29em;
    justify-content: center;
    align-items: center;
    margin: 5em 0em 2em 3em;
    border-radius: 55% 20% 35% 12%;
  }
   
   .logo-about3{
    display: flex;
    justify-content: start;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    margin:0em 0em 2em 3em;
    padding: 0em 0em 2em 3em;
    gap:4em;

   }
.LogoMetal{
width: 20em;
height: 5em;
}

.Logobluebird{
  width: 21em;
  height: 6.5em;
}
}  */

/* @media screen and (max-width: 1600px) {

  .picabout1-animation-container {
    display: flex;
    flex-direction: column;
    padding: 3em;
    margin-top: 3em;
      } 
   .about1-1{
    width: 20em;
    height: 16em;
    margin: 10px 3px 10px 10px;
    padding: 0%;
    cursor: pointer;
   }
  } */
  

@media screen and (max-width: 1300px) {

.picabout1-animation-container {
  display: flex;
  flex-direction: column;
   } 
 .about1-1{
  width: 20em;
  height: 16em;
  margin: 10px 3px 10px 10px;
  padding: 0%;
  cursor: pointer;
  
 }
 .about3 {
  width: 19em;
  height: 20em;
  justify-content: center;
  align-items: center;
  margin: 5em 0em 2em 2em;
  border-radius: 55% 20% 35% 12%;
}
 
 .logo-about3{
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  margin:0em 0em 2em 1.2em;
  padding: 0em 0em 2em 1.75em;
  gap:3em;

 }
.LogoMetal{
width: 16em;
height: 3em;
}

.Logobluebird{
width: 17em;
height: 4.75em;
}
}

@media screen and (max-width: 1000px) {
  .h2about {
    font-size: 2.60em;
    letter-spacing: 0.1em;
    font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
    color: #f8e6cb;
    font-weight: bold;
    text-shadow: 1px 1px 5px #f2a8a8;
    padding: 1.75em 0em 0.25em 1.2em;
    word-spacing:-5px;
}
.pabout{
  font-size: 1.35em;
  color: #f4e7e0;
  text-align:justify;
  padding:1.75em 0.5em 1.75em 1.5em;
  /* text-shadow: #000 2px; */
  word-spacing:-5px;
 }
 .picabout1-animation-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   /* margin: 0em 1em 0em 0em; */
   } 
   .about1, .about1-1 {
    width: 18em;
    height: 13em;
    margin: 10px 3px 2px 10px;
    padding: 0%;
    cursor: pointer;
    /* transition: transform 0.3s ease; */ 
  }
  

   /* section2-aboutus */

  .h2about2-section2{
    width: 85%;
    padding: 0.25em;
    padding-top: 1.75em;
    /* margin: 4%; */
    margin: 0px 0px 0px 40px;
    color:#2a2824;
    font-size: 1.75em;
    line-height: 1em;

  } 

  /* section3-aboutus */

 .section3-about{
  display: grid;
  margin: 0px;
  padding: 0em;
  padding-top: 1.75em;
  /* line-height: 2em; */
 } 
.h2about3 {
  font-size: 2.55em;
  color: #f8f0e3;
  padding: 2em 0em 0.25em 1em;
}

.pabout3{
  font-size: 1.20em;
  color: #f9f4f1;
  text-align:center;
  padding-left:0.85em;
  text-shadow: #000 2px;
  text-justify: distribute;
  word-spacing: -1.5px;
  animation: slideout 2s ease-out; 
   }
   
   .about3 {
    width: 19em;
    height: 20em;
    justify-content: center;
    align-items: center;
    margin: 5em 0em 2em 2em;
    border-radius: 55% 20% 35% 12%;
  }
   
   .logo-about3{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    margin:0em 0em 2em 1.5em;
    padding: 0em 0em 2em 2em;
    gap:3em;

   }
.LogoMetal{
width: 16em;
height: 3em;
}

.Logobluebird{
  width: 17em;
  height: 4.75em;
}

}

@media screen and (max-width: 710px) {

  .section1-about {
    padding: 0.75em;
    margin: 0px;
    width: 100%;
   }
  .h2about {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fee6c2;
    text-shadow: 1px 1px 5px #f2a8a8;
    padding: 1.75em 0em 0.25em 1.2em;
    word-spacing:-7px;
}
.pabout{
  font-size: 1.30em;
  color: #f4e7e0;
  padding:1.75em 0.25em 1.75em 1.5em;
  /* text-shadow: #000 2px; */
  word-spacing: -5.5px;
 }
 .picabout1-animation-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   /* margin: 0em 1em 0em 0em; */
   } 
   .about1, .about1-1 {
    width: 17em;
    height: 10em;
    margin: 10px 3px 2px 10px;
    padding: 0%;
    cursor: pointer;
    /* transition: transform 0.3s ease; */ 
  }
  
   /* section2-aboutus */

  .h2about2-section2{
    width: 85%;
    padding: 0.25em;
    padding-top: 1.75em;
    /* margin: 4%; */
    margin: 0px 0px 0px 40px;
    color:#2a2824;
    font-size: 1.75em;
    line-height: 1em;
  } 

  /* section3-aboutus */

 .section3-about{
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0em;
  padding-top: 1.75em;
  /* line-height: 2em; */
 } 
.h2about3 {
  font-size: 2.25em;
  color: #f8f0e3;
  padding: 2em 0em 0.25em 1.10em;
}

.pabout3{
  font-size: 1.20em;
  color: #f9f4f1;
  text-align:center;
  padding-left:1.10em;
  text-shadow: #000 2px;
  text-justify: distribute;
  animation: slideout 2s ease-out; 
   }
   
   .about3 {
    width: 17em;
    height: 18em;
    justify-content: center;
    align-items: center;
    margin: 5em 0em 2em 0.5em;
    border-radius: 55% 20% 35% 12%;
  }
   
   .logo-about3{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    margin:0em 0em 2em 1em;
    padding: 0em 0em 2em 2em;
    gap:2.5em;

   }
.LogoMetal{
width: 15em;
height: 2.75em;
}

.Logobluebird{
  width: 14em;
  height: 4.5em;
}

}

@media screen and (max-width: 600px) {

  .section1-about {
    padding: 0.25em;
    margin: 0px;
    width: 100%;
   }
  .h2about {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fee6c2;
    text-shadow: 1px 1px 5px #f2a8a8;
    padding: 1.75em 0em 0.25em 0.85em;
    word-spacing:-7px;
}
.pabout{
  font-size: 1.30em;
  color: #f4e7e0;
  padding:1.75em 0.2em 1.75em 1.25em;
  /* text-shadow: #000 2px; */
  word-spacing: -4px;
 }
 .picabout1-animation-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   /* margin: 0em 1em 0em 0em; */
   } 
   .about1, .about1-1 {
    width: 16em;
    height: 15em;
    margin: 10px 3px 2px 10px;
    padding: 0%;
    cursor: pointer;
    /* transition: transform 0.3s ease; */ 
  }
  
   /* section2-aboutus */

  .h2about2-section2{
    width: 85%;
    padding: 0.25em;
    padding-top: 1.75em;
    /* margin: 4%; */
    margin: 0px 0px 0px 40px;
    color:#2a2824;
    font-size: 1.75em;
    line-height: 1em;
  } 

  /* section3-aboutus */

 .section3-about{
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0em;
  padding-top: 1.5em;
  /* line-height: 2em; */
 } 
.h2about3 {
  font-size: 2.2em;
  color: #f8f0e3;
  padding: 2em 0em 0.25em 0.75em;
}

.pabout3{
  font-size: 1.20em;
  color: #f9f4f1;
  text-align:center;
  padding-left:0.5em;
  text-shadow: #000 2px;
  text-justify: distribute;
  animation: slideout 2s ease-out; 
   }
   
   .about3 {
    width: 14.5em;
    height: 15.5em;
    justify-content: center;
    align-items: center;
    margin: 5em 0em 2em 0.5em;
    border-radius: 55% 20% 35% 12%;
  }
   
   .logo-about3{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    margin:0em 0em 2em 0.75em;
    padding: 0em 0em 2em 2em;
    gap:1.5em;

   }
.LogoMetal{
width: 13em;
height: 2.5em;
}

.Logobluebird{
  width: 13em;
  height: 4.5em;
}

}

@media screen and (max-width: 450px) {
  .h2about {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
    color: #fee6c2;
    font-weight: bold;
    text-shadow: 1px 1px 5px #f2a8a8;
    padding: 1.75em 0em 0.25em 1.2em;
    word-spacing:-7px;
}
.pabout, .pabout3{
  font-size: 1.25em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #faf2ed;
  text-align:justify;
  padding:1.5em;
  /* text-shadow: #000 2px; */
  word-spacing:-5.2px;
 }
 .picabout1-animation-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   } 
   .about1-1{
    width: 20em;
    height: 16em;
    margin: 10px 3px 10px 10px;
    padding: 0%;
    cursor: pointer;
     /* z-index: 5; */
   }
  .h2about2-section2{
    width: 80%;
    padding: 0.25em;
    padding-top: 1.70em;
    /* margin: 4%; */
    margin: 0px 0px 0px 37px;
    color:rgb(92, 34, 5);
    font-size: 1.70em;
    line-height: 1em;
  }
  /* section3 */

  .about3 {
    width: 17em;
    height: 18em;
    justify-content: center;
    align-items: center;
    margin: 3em 0em 2em 4em;
    border-radius: 55% 20% 35% 12%;
  }

  .logo-about3{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    margin:0.5em 0.5em 2em 0.75em;
    padding: 0em 0em 2em 1.2em;
    gap:1.5em;

   }
.LogoMetal{
width: 15em;
height: 2em;
}

.Logobluebird{
  width: 16em;
  height: 4em;
}

}
    
  /* Services */

  .containerservices {
     display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));  */
    background:#240b0b;
  }
.bannerservices {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
    color: rgb(21, 20, 20);
    padding-top: 0px;
    margin: 0px;
    width: 100%; 
  }
  .picbanserv {
    background-image: url('../assets/bg/new--.png');
    background-size: cover;
    width: 64%;
    height: auto;
}
   
  .banner-content {
    width: 40%; 
    color: rgb(253, 253, 253);
    text-shadow: 3px 2px 5px #f2a8a8;
  }

      .h1serv, .h3serv {
        color: rgb(253, 253, 253);
        text-shadow: 3px 2px 5px #f2a8a8;
        padding-left: 2.95em;
        justify-content: center; 
        align-items: center;
        margin: 0;
        /* background-color: transparent; */
        /* display: inline-block; */
      }
      
      .h1serv{
        font-size: 4em;
        font-family:  'Montserrat', 'Arial, Helvetica, sans-serif';
        letter-spacing: 0.1em;
        padding-top: 3em;
        font-weight: 400;
        animation: fade-in 2s ease-in-out forwards; 
      }
      .h3serv {
        padding-left: 5.75em;
        font-size: 2em;
        font-weight: bold;
        animation: slideout 2s ease-in-out forwards; 
      }
      .h2service {
        font-size: 2em;
        padding-top:1em;
        font-weight: 400;
      }
      /* text bannerarea */
      .textbanserv {
        background-color:#f5ca8b;
        width: 33%;
        padding: 1em;
        animation: slideIn 2s ease-in-out forwards; 
      }
      /* bannerside */
      .h3services, .h2services, .pbanner{
        padding: 0em 0 0em 1em;
        color:#000;
      }
      
      /* body services   */
      
      .services-body {
        background-color: #131212;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
      }
      .text-top-body-service {
        padding: 2em;
        color: white;
      }
      .h2servbody {
        padding: 2em 0em 0em 2em;
      }
      .pservebody {
        color: white;
        padding: 0em 0em 2em 2em;
        font-size: 1.5em;
      }
      /* pics and text body services */
      .services-wraper {
        display: grid;
        font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
        color: white;
        justify-content: center;
        align-items: center;
        animation: fade-in 2s ease-in-out forwards;
        margin: 0px;
        padding: 0em;
        padding-left: 3em;
      } 
     
      .h2serveboby {
        padding: 1em 0em 0.5em 0em;
        font-weight: bold;
        justify-content: center;
        align-items: center;
      }
  .section1-services, .section2-services, 
  .section3-services, .section4-services, 
   .section8-services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: repeat(2, auto); */
  height: auto;
  width: 80%;
  margin: 0;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  color: white;
  justify-content: center; 
  align-items: center;
  grid-gap: 1.2em;
  opacity: 0;
  margin: 0px;
  animation: fade-in 2s ease-in-out forwards;
  /* padding-left: 1em; */
}

.section5-services {
  display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: repeat(2, auto); */
  height: auto;
  width: 80%;
  margin: 0;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  color: white;
  justify-content: center; 
  align-items: center;
  grid-gap: 1.2em;
  opacity: 0;
  margin: 0px;
  animation: fade-in 2s ease-in-out forwards;
  padding-left: 10em;
}
.pic6-7-in-section5 {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: repeat(2, auto);
}

.pserve-section {
  font-size: 1.5em;
  padding-left: 0em;
  justify-content: end;
 }
.pandimage-section2 {
  display: grid;
  /* grid-template-rows: repeat(8, auto); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
padding: 0em;
}

  .servicepic1, .servicepic2, 
  .servicepic3, .servicepic4 {
    width:40em;
    height: auto;
    margin-left: 0px;
    border: 12px solid #e3d8c7 ;
    box-shadow: 2px 2px  #57595a;
    margin: 1.5em 1em 0em 0em ;
    
  }
  .servicepic1 {
    border-radius: 15em 14em 4em 5em;
  }
  
  .servicepic2{   
    border-radius: 5em 9em 13em 13em;
  }
  .servicepic3 {
   border-radius: 2em 9em 9em 2em;
   }
  .servicepic4 {
    border-radius: 2em 9em 4em;
   }

  .servicepic5, .servicepic6  {
    width: 50em;
    max-height: auto;
    border-radius: 4em;
    margin-left: 0px;
    border: 8px solid #e3d8c7 ;
    box-shadow: 2px 2px  #57595a;
    margin: 1.5em 2em 0em 0em ;
    justify-content: center;
 
  } 
  .servicepic7, .servicepic8 {
    width: 50em;
    max-height: auto;
    border-radius: 4em;
    margin-left: 0px;
    border: 8px solid #e3d8c7 ;
    box-shadow: 2px 2px  #57595a;
    margin: 1.5em 0em 0em 0em ;
    justify-content: center;
 
  } 
  
  .servicepic8 {
    width: 80em;
    max-height: auto;
    border-radius: 4em;
    margin-left: 0px;
    border: 8px solid #e3d8c7 ;
    box-shadow: 2px 2px  #57595a;
    margin: 1.5em 0em 3em 6em ;
    justify-content: center;
    align-items: center;
 
  }  
    .pserve-section5-6 {
      width: 70%;
      font-size: 1.5em;
  padding-left: 0em;
  justify-content: center;
    }



  

  
/*Projects */


.projectheader{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 4em;
  text-align: center;
  align-items: center;
  color:#e0c397
 }

 .h1proj{
  display: flex;
  font-family:' Arial, Helvetica, sans-serif'; 
  text-align:justify;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
 }
 .h2proj{
  margin-top: 0.5em;
  margin-bottom: 2em;
 }

 .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  width: 60%;
  margin: auto;
  font-family: 'Arial, Helvetica, sans-serif';
  text-align: justify;
  word-spacing: -1.5px;
  color: white;
  justify-content: center; 
  grid-gap: 1.2em;
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
  margin: 0px;
}
@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateY(-90px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid1,
.grid2,
.grid3 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  font-size: 18.5px;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  color: rgb(21, 20, 20);
  background-color: #f3f2ed;
  border-radius: 35px;
  box-shadow: 2px #737779;
  padding: 20px;
  align-items: center;
  padding-top: 0px;
  text-align: justify;
  text-justify: distribute;
  margin: 0px;
  box-shadow: 15% 12% 15% #999;
  word-spacing: -1.5px;
  line-height: 1.78em;
}
  /* text-align-last: left; */

/* Gallery */

.gallerybody {
  background-color: #1b1616;
  padding: 20px;
}

.hgallery {
  padding: 2em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #888;
  font-family:  'Montserrat', 'Arial', 'Cairo','Helvetica, sans-serif';
  color: white;
  font-size: 2.7em ;
  font-weight: 450;
  letter-spacing: 9px;
  justify-content: start;
}

.pgallery{
  padding-bottom: 1em;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-size: 1.5em ;
  text-align: justify;
  color: white;
  line-height: 2em;
  font-weight: normal;
  padding: 2em;
}

.galpic {
  display: flex;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  width: 90%;
  margin: auto;
  font-family: 'Arial, Helvetica, sans-serif';
  text-align: justify;
  word-spacing: -1.5px;
  color: white;
  justify-content: center;
  grid-gap: 1.2em;
  opacity: 0;
  padding: 20px;
  margin: 20px;
  animation: fade-in 2s ease-in forwards;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gallery-image {
  width: 380px;
  height: 390px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05); /* Scale the image by 1.1 on hover */
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 0, 0);
  z-index: 999;
}

.modal-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.9);
  margin: 0px;
}

/* overlay */
.modal-image-container {
  position: relative;
  overflow: hidden;
}

.modal-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 18, 18, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-image-container:hover .modal-image-overlay {
  opacity: 1;
}

.modal-content {
  background-color: rgba(23, 20, 20, 0.8);
  border-radius: 10px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0.4em;
}


.download-button {
  display: flex;
  justify-content: center;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-size: 1.5em;
  font-weight: 300;
  color:#090909;
  border:dashed 2px #e0c397;
  background-color: rgb(99, 9, 9);
  border-radius: 15px;
  padding: 0.5em 1em; /* Adjust padding as needed */
  margin-top: 1em; /* Add margin to separate from the image */
  cursor: pointer; 
}

.download-button a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.download-button:hover {
  background-color: #8b0000; /* Darker shade on hover if needed */
  color: beige !important;
}

.close {
  font-size: 2em;
  color: #100f0f;
  cursor: pointer;
  position: absolute;
  top: -0.05em;
  left: 1em;
  /* margin-bottom: 0.5em; */
}


.arrow {
  font-size: 2.75em;
  font-weight: 500;
  color: #141111;
  cursor: pointer;
  position: absolute;
  top: -0.55em;
  /* transform: translateY(-50%); */
}

.arrow-left {
  display: flex;
  font-size: 3em;
  left: 5px;
  padding-left: 7em;
}

.arrow-right {
  right: 5px;
  font-size: 3em;

}


     /* ContactUs */

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-content: center;
    align-items: center; */
    margin: auto important;
  }
  .get-in-touch {
    padding-top: 1em;
  }
 }

 @media (max-width: 768px) {
   .form-container {
     flex-direction: column;
   }
  }

  .container-zone{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    /* background-image: url('NZ1.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0; */
    
    
  } 

  .contact-container{
    display: flex;
    
    flex-direction: column; 
  }
  
  .form-animation-container {
    display: flex;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    /* flex-direction: row;  */
    /* justify-content: space-between; */
  }
  
  .form-animation-container {
    animation: slideIn 2s ease-out; /* Define animation */
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(50%); /* Start off the screen to the left */
    }
    100% {
      transform: translateX(0); /* End at the original position */
  }
}
.allform {
  /* background-color: #e3d2d2; */
  font-family: 'Cairo',Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}
.contactform{
  padding-top: 3em;

}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1em; */
  width: auto; /* Adjusted width to take up half of the container */
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: #141313;
  font-size: 1.2em;
  box-shadow: 7px #ed5f18;

}
.info-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141313;
  font-size: 1.2em;
}

.icon {
  font-size: 1.5em;
  /* margin-right: 10px; */
  color: white;
  padding-right: 0.25em;
}
.get-in-touch {
  /* padding-top: 1em; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.form-part {
  flex: 1;
  margin-right: 15px; /* Adjust the spacing between the two form parts */
}
.form-group {
  margin-bottom: 10px; /* Adjust the spacing between form elements */
}
.message{
  height: 5em;
}

/* Add or update the styles for the submit button */
.custom-btn {
  display: flex;
  flex-direction: row;
  /* background-color: red; Set the background color to red */
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  height: 3em;
  width: 50%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: rgb(70, 2, 2); /* Change the hover background color if needed */
}

.custom-btn:active {
  background-color: #b5b270;
  box-shadow: 02px #c9c9c9;
  transform: translateY(5px);
}

.popup {
  background-color: rgba(29, 27, 27, 0.8);
  position: fixed;
  top: 26%;
  left: 50%;
  border: 3px solid grey;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
  font-size: 1.45em;
  color: rgb(223, 216, 216);
  text-align: center;
  box-shadow: 2px 2px #868889;
}

.popup p {
  margin-bottom: 10px;
}