/* .Body {
  background-color:black; */
  /* display: flex; */
  /* justify-self: center;
  align-self: center; */
  /* width: auto; */
 /* } */

/* Responsive styles */
@media screen and (max-width: 1000px) {
  
  .top-line {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .logo-container {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 4.5em;

  }

  .contact-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .contact-link-container {
    margin-bottom: 0.5em; 
  }

    .navbar-nav {
    margin-top: 15px;
    padding-right: 32em;
    gap:1em;
  }
  
  .navbar {
    flex-direction: column;
    padding: 1em;
  }
  
  .navbar-nav {
    margin-top: 0; 
    gap:0em;
  }

  .nav-link {
    width: 7em;
    margin: 0 7px; /* Add spacing around text in NavBar */
  }
  .habout {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    color: #fff;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    text-shadow: 3px 2px 5px #f2a8a8;
    font-size: 3em;
    font-weight:bolder;
    text-align: center;
    animation: slideIn 2s ease-in; /* Define animation */
  }

}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .top-line {
    padding: 10px;
    
  }
  
  .contact-info1 {
    margin-top: 0.5em;
    font-size: 0.75em ;
  }
  
  .logo-container {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 4.5em;
    justify-content: center;

  }
  
  .navbar-toggler {
    margin-right: 0; /* Remove margin for toggler on smaller screens */
  }
  .contact-link{
    margin-right: 0.25em;
    
    }
    .nav-link {
      width: 6em;
      margin: 0 7px; /* Add spacing around text in NavBar */
  }
  .phome {
    text-align: justify;
  padding: 2.5em 0em 0 0.25em;
  }
  .habout {
    color: #fff;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    text-shadow: 3px 2px 5px #f2a8a8;
    font-size: 2em;
    font-weight:bolder;
    text-align: center;
    animation: slideIn 2s ease-in; /* Define animation */
  }
}
@media  screen and (max-width: 400px){
  .top-line {
    font-size: 0.75em ;
  }

  .logo-container {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 4.5em;
    width: auto;
  }

  .contact-info1 {
    margin: 0;
    margin-top: 1em;
    font-size: 0.5em ;

  }

  .navbar-toggler {
    margin-right: 0; /* Remove margin for toggler on smaller screens */
  }
  .contact-link{
    margin-right: 0.25em;
    
    }
    .nav-link {
      width: 6em;
      margin: 0 7px; /* Add spacing around text in NavBar */
  }
  phome {
  text-align: center;
  padding: 2.5em 0em 0 0.25em;
  }
  .habout {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    color: #fff;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    text-shadow: 3px 2px 5px #f2a8a8;
    font-size: 2em;
    font-weight:bolder;
    text-align: center;
    animation: slideIn 2s ease-in; /* Define animation */
  }
}

/* NavBar */
  .nav-link {
    width: 6em;
    margin: 0 7px; /* Add spacing around text in NavBar */
}
  .navbar-nav {
    margin-top: 10px;
    padding-right: 32em;
    gap:1em;
  }


/*NavBar

/* Logo and Contact Information */

.top-line {
  display: flex;
  justify-content: space-between; /* Adjusted to space between logo and contact info */
  align-items: center;
  background-color: #fdc673;
  text-align: center;
  font-size: 1em;
  color: #d8b8b8;
  width: 100%;
  padding-right: 3em;
  margin: 0px;
  animation: fade-in 2s ease-in-out forwards; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.Logopic {
  max-width: 100px;
}

.contact-info1 {
  display: flex;
  align-items: center;
}
.contact-link-container {
  display: flex;
  align-items: center;
  position: relative;
}


.contact-link {
  display: grid;
  position: relative;
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  font-size: 1.1em;
  color:#8c1414;
  text-decoration: none;
  margin-right: 15px;
  overflow: hidden;
}

/* Animated Line for First Line */
.contact-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #e65a5a;
  text-decoration: none;
  /* transform: scaleX(0); */
  transform-origin: bottom right;
  transition: width 0.3s ease;
}

.contact-link:hover {
  text-decoration: none; 
  color:#240b0b;
}

.contact-link:hover::before {
  width: 100%; 
}

/* Main Navigation Bar */
.navbar-container {
  /* display: grid; */
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.active-link {
  background-color: #9c202c; /* Dark red color code for active page */
  color: #fff;
}

/* Ensure the text color for inactive links is white */

.navbar {
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  align-content: right;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 10px; 
  margin-right: 0; 
}
.navbar-nav {
  margin-top: 15px;
  padding-right: 3em;
  gap:3em;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cairo', 'Montserrat', 'Merriweather', 'Open Sans', 'Lato', Helvetica;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: rgb(32, 31, 31);
  width: 8em;
  height: 2.5em;
  border: none;
  color: #fff;
  padding: 60px; 
  border-radius: 15px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e88c8c;
  transition: width 0.3s ease;
  content: '\260E'; /* Unicode for phone icon */
  margin-right: 5px;
}

.nav-link:hover {
  color: #a6d49d;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link span {
  margin-left: 5px;
}

.nav-link:active {
  color: #10110f;
  background: rgb(95, 60, 60);
}


/* Footer */
.container-footer {
  background-color: rgb(94, 32, 32);
  color: white;
  text-align: center;
  padding: 2em;
}

.footer-row {
  margin: 0;
}

/* Contact Us section */
.contact-footer-colum {
  padding: 2em;
  text-align: center; /* Center the container */
}

.info-box-footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within the container */
}

.company-info-footer {
  text-align: left;
  padding-bottom: 1em; /* Adjust padding as needed */
}

.contact-information,
.about-information {
  padding-left: 2em;
}

.company-info {
  margin-bottom: 0.25em;
  text-align: left;
  font-size: 1.25em;
  
}

.footer-icons {
  display: flex;
  justify-content: start;
  margin-right: 0.5em; 
}


/* About section */
.about-box-footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

.about {
  letter-spacing: 5px;
  text-align: left;
  font-size: 2.5em;
}

.company-info-footer {
  text-align: center;
  padding-bottom: 1em;
}

/* Media query for responsiveness */
@media (max-width: 767px) {
  .contact-footer-colum {
    padding: 0.25em; 
  }

  .about-box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}


/* Media query for responsiveness */
@media (max-width: 767px) {
  .col-md-6.text-justify {
    padding: 0.5em; /* Adjust padding for smaller screens */
  }

  .about-box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}


/*home */

.Bodyhome {
  background: #000;
  /* height: 90vh;
 width:100vw; */
 position: relative;
 margin-top: 0em;
 /* background:-webkit-linear-gradient(290deg, rgb(17, 23, 25) 0%, rgb(15, 17, 18) 100%); */

}
.content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  flex-wrap: nowrap;
  color:white;
  opacity: 0; 
  text-align:justify;
  justify-items: center;
  padding-top: 3em;
  margin: 0px;
  animation: fade-in 2s ease-in-out forwards; 
}

  /* @keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateY(-90px); /* Slide up slightly */
  /* }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */ 

.homepic {
  /* display: flex; */
  align-items: right;
  justify-content: right;
  justify-content: flex-end;
  width:25em;
  height: 37em;
  border-radius: 30px;
  /* box-shadow: 10px #999; */
  margin-left: 10px;
  box-shadow: 2px 2px  #57595a;
  margin: 8em;
  animation: fade-in 2s ease-in-out forwards; 

}

.phome {
  /* display: flex; */
  font-size: 2.25em;
  font-family: 'Lato', Helvetica, sans-serif, Arial;
  flex-wrap: nowrap;
  color: #e0c397;
  text-align: left;
  /* word-spacing: -5px; */
  padding: 0em 0.25em 0 2em;
  margin:0px
}

.image-container {
  flex: -10;
  margin-left: 20px; /* Add margin as needed */
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em; 
}
.text-and-buttons {
  flex: 1;
}
.button-row {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  gap: 2em;
  margin: 2em;
  animation: fade-in 2s ease-in-out forwards;  
}


.anav2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(183, 15, 15);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.anav2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: darkred;
  transition: width 0.3s ease-in-out; 
  
}
.anav2:hover{
  background:#f3ae47;
  border-radius: 10px;
}
.anav2:hover:after {
  width: 100%;
}

   /*AboutUs */

   .about-us-container {
    background-color: #333;
   }
   
  .section1-about {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   font-size: 16.5px;
 font-family: 'Arial, Helvetica, sans-serif';
 color: rgb(21, 20, 20);
 background-color: #f3f2ed;
 border-radius: 35px;
 box-shadow: 2px #737779;
 padding: 20px;
 align-items: center;
 padding-top: 0px;
 text-align: justify;
 text-justify: distribute;
 margin: 0px;
 box-shadow: 15% 12% 15% #999;
 word-spacing: -1.5px;
 line-height: 2em;
 width: 100%;
 background-color: #333;
 }
 
 .h2about3, .h2about {
   font-size: 3em;
   letter-spacing: 0.2em;
   font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
   color: #f8e6ca;
   font-weight: bold;
   text-shadow: 1px 1px 5px #f2a8a8;
   border-bottom: 1px solid #dbc7c7;
   text-align: left;
   padding: 2em 0em 0.25em 2.5em;
   animation: fade-right 2s ease-in; 
   
 }
 
 .pabout, .pabout4{
   font-size: 1.5em;
   font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
   color: #f8ece7;
   text-align:justify;
   padding:2em;
   text-shadow: #000 2px;
  }
  
  .text-animation-container {
    animation: slideout 2s ease-out; /* Define animation */
  }
  
  @keyframes slideout {
   0% {
     transform: translateX(-50%); /* Start off the screen to the left */
   }
   100% {
     transform: translateX(0); /* End at the original position */
    }
  }
  

  .picabout1-animation-container {
   display: flex;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   animation: slideIn 2s ease-out; /* Define animation */
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(50%); /* Start off the screen to the left */
    }
    100% {
     transform: translateX(0); /* End at the original position */
    }
  }
  
.pic-2-section1 {
  display: grid;
  grid-template-rows: repeat( auto-fit, minmax(250px, 1fr) );
  margin: 0%;
} 

.picabout1, .picabout2, .last-section {
  display: grid;
  justify-content: row;
  /* align-items: center; */
  margin: 0em;
}

.about1 {
  width: 20em;
  height: 16em;
  margin: 10px 3px 10px 10px;
  padding: 0%;
  cursor: pointer;
  /* transition: transform 0.3s ease; */
  
}
.about1-1{
  width: 35.5em;
  height: 33.75em;
  margin: 0px;
  padding: 0% 10px 0px 0px;
  /* z-index: 5; */
}

.picabout2 {
  width: 100%;
 height: 45em;
 margin: 5px;
 cursor: pointer;
 /* transition: transform 0.3s ease; */
}

/* section2 */
.h2about-section2, .h2about2-section2{
  font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
  color:rgb(54, 25, 25);
  text-shadow: 2px 2px 5px #f2a8a8;
  font-size: 2em;
  font-weight: bold;
  width: 50%;
  line-height: 2em;
  padding: 2em 0em 0em 1.5em;
  margin: 0px 0px 0px 80px;
  animation: slideout 2s ease-out; 
}

@keyframes slideout {
 0% {
   transform: translateX(-50%); /* Start off the screen to the left */
 }
 100% {
   transform: translateX(0); /* End at the original position */
  }
}
/* .h2about2-section2{ */
  /* position:absolute;
  top: 110%;
  left: 28%;
  transform: translate(-42%, 89%); */
  /* color:rgb(54, 25, 25);
  text-shadow: 2px 2px 5px #f2a8a8;
  font-size: 3em;
  text-align:justify;
  margin: 0px 0px 0px 80px;
  padding:1.5em 0em 0em 4em;
  text-shadow: #000 2px;
  font-weight: bold;
  animation: slideout 2s ease-out;  */
  /* }  */
  
  
  
  @media screen and (max-width: 1300px) {
    
   .h2about {
      font-size: 2.75em;
      letter-spacing: 0.1em;
      font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
      color: #f9dcaf;
      font-weight: bold;
      text-shadow: 1px 1px 5px #f2a8a8;
      padding: 1.75em 0em 0.25em 1.2em;
  }
  .pabout, .pabout4{
    font-size: 1.25em;
    font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
    color: #f4e7e0;
    text-align:justify;
    padding:2em;
    text-shadow: #000 2px;
    word-spacing:-4px;
   }
   .picabout1-animation-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
     } 
  .h2about2-section2{
    width: 90%;
    padding: 0.25em;
    /* margin: 4%; */
    margin: 0px 0px 0px 45px;
    color:#f8f7f5;
    font-size: 2em;
  }
  
}
@media screen and (max-width: 600px) {
  .h2about {
    font-size: 2.60em;
    letter-spacing: 0.1em;
    font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
    color: #f9dcaf;
    font-weight: bold;
    text-shadow: 1px 1px 5px #f2a8a8;
    padding: 1.75em 0em 0.25em 1.2em;
    word-spacing:-5px;
}
.pabout, .pabout4{
  font-size: 1.35em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #f4e7e0;
  text-align:justify;
  padding:1.75em;
  /* text-shadow: #000 2px; */
  word-spacing:-5px;
 }
 .picabout1-animation-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   } 
  .h2about2-section2{
    width: 85%;
    padding: 0.25em;
    padding-top: 1.75em;
    /* margin: 4%; */
    margin: 0px 0px 0px 40px;
    color:#2a2824;
    font-size: 1.75em;
  } 
}
@media screen and (max-width: 400px) {
  .h2about {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    font-family: 'Cairo','Montserrat', Arial, Helvetica, sans-serif ;
    color: #fee6c2;
    font-weight: bold;
    text-shadow: 1px 1px 5px #f2a8a8;
    padding: 1.75em 0em 0.25em 1.2em;
    word-spacing:-7px;
}
pabout, .pabout4{
  font-size: 1.25em;
  font-family: 'Cairo', 'Arial, Helvetica, sans-serif';
  color: #faf2ed;
  text-align:justify;
  padding:1.5em;
  /* text-shadow: #000 2px; */
  word-spacing:-5.2px;
 }
 .picabout1-animation-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   } 
  .h2about2-section2{
    width: 80%;
    padding: 0.25em;
    padding-top: 1.70em;
    /* margin: 4%; */
    margin: 0px 0px 0px 37px;
    color:rgb(92, 34, 5);
    font-size: 1.70em;
  }
}
.about3 {
 width: 380px;
 height: 390px;
 margin: 5px;
 cursor: pointer;
 border-radius: 20% 0% 0% 30%;
 transition: transform 0.3s ease;
}
  
  /* Add these animations for scroll effects */
  .fade-right {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-right.active {
    opacity: 1;
    transform: translateX(0);
  }
 
/* @keyframes slideIn {
  0% {
    transform: translateX(-50%); */
    /* Start off the screen to the left */
    /* }
    100% {
      transform: translateX(0); */
      /* End at the original position */
      /* } 
    }
    */
/*     

    .textandpicsabout {
      padding: 3em;
      text-align: center;
      background-color: #333;
      color: #333; /* Set your desired text color */
      /* transition: transform 0.3s ease-in-out; */
    /* } */ 
    
  /* Services */

  /* Responsive image styles using Bootstrap classes */
.servicepic1,
.servicepic2 {
  width: 100%;
  height: auto;
  border-radius: 5% 6% 10% 13%;
  margin: 1.5em 0;
  border: 15px solid #e3d8c7;
  box-shadow: 2px 2px #57595a;
}
  
.bannerservices {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
  /* .container.services {
    padding: 0;
      } */
      .picbanserv {
        position: relative;
        display: flex;
        flex-direction: column;
      }
      
      .banner-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 30%; /* Adjusted to center the content */
        left: 8%;
        width: 40%;
        transform: translateY(-50%);
        color: rgb(253, 253, 253);
        text-shadow: 3px 2px 5px #f2a8a8;
      }
  .h1serv, .h3serv {
    padding-left: 3em;
    margin: 0;
    background-color: transparent;
    display: inline-block;
    /* justify-content: start; */
    /* position: relative;   */
  }
  
 
  .h1serv{
    font-size: 4em;
  }
   .h3serv {
    justify-content: start;
    padding-left: 5em;
    font-size: 2em;
    animation: slide-left 2s ease-out; 
  }

  /* text bannerarea */
.h2serv {
  padding-top:2em;
}

  .h3services, .h2serv, .pbanner{
    padding: 0em 0 0em 1em;
  }
  .picbanserv h1::before {
    content: '';
    position: absolute;
    left: 160px;
    top: 30%;
    transform: translateY(-50%);
    width: 0.2em; 
    height: 1em; /* Adjust the height of the bar */
    background-color: #fdc673; 
    text-shadow: 3px 2px 5px #f2a8a8;
  }

  
  .textbanserv {
    background-color:#f9c576; 
    width: 33%;
    padding: 1em;
    
    }
 
  
  .service-item {
    margin-bottom: 20px;
  }
  
  .services-details {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  /* .service-detail{
 
  } */

  .pservices {
    font-size: 1.5em;
  }

  .container-wraper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: auto;
    width: 60%;
    margin: 0;
    font-family: 'Arial, Helvetica, sans-serif';
    text-align: justify;
    word-spacing: -5px;
    color: white;
    justify-content: center; 
    grid-gap: 1.2em;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
    margin: 0px;
  }

  .gridservice1{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    height: auto;
    width: 60%;
    margin: auto;
    font-family: 'Arial, Helvetica, sans-serif';
    text-align: justify;
    word-spacing: -1.5px;
    color: white;
    justify-content: center; 
    grid-gap: 1.2em;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
    margin: 0px;
  }

  .servicepic1 {
    width:26em;
    height: 35em;
    border-radius: 15em 14em 4em 5em;
    margin-left: 0px;
    border: 15px solid #e3d8c7 ;
    box-shadow: 2px 2px  #57595a;
    margin: 1.5em -6em 0em 0em ;
  }
  .servicepic2 {
    width:26em;
    height: 35em;
    border-radius: 60px 12em 13em 100px;
    margin-left: 0px;
    border: 15px solid #e3d8c7 ;
    box-shadow: 2px 2px  #57595a;
    margin: 1.5em -6em 0em 0em ;
  }
  
/*Projects */


.projectheader{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 4em;
  text-align: center;
  align-items: center;
  color:#e0c397
 }

 .h1proj{
  display: flex;
  font-family:' Arial, Helvetica, sans-serif'; 
  text-align:justify;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
 }
 .h2proj{
  margin-top: 0.5em;
  margin-bottom: 2em;
 }

 .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  width: 60%;
  margin: auto;
  font-family: 'Arial, Helvetica, sans-serif';
  text-align: justify;
  word-spacing: -1.5px;
  color: white;
  justify-content: center; 
  grid-gap: 1.2em;
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
  margin: 0px;
}
@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateY(-90px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid1,
.grid2,
.grid3 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  font-size: 18.5px;
  font-family: 'Arial, Helvetica, sans-serif';
  color: rgb(21, 20, 20);
  background-color: #f3f2ed;
  border-radius: 35px;
  box-shadow: 2px #737779;
  padding: 20px;
  align-items: center;
  padding-top: 0px;
  text-align: justify;
  text-justify: distribute;
  margin: 0px;
  box-shadow: 15% 12% 15% #999;
  word-spacing: -1.5px;
  line-height: 1.78em;
}
  /* text-align-last: left; */

/* Gallery */

.gallerybody {
  background-color: #1b1616;
  padding: 20px;
}

.hgallery {
  padding: 2em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #888;
  font-family:  'Montserrat', 'Arial', 'Cairo','Helvetica, sans-serif';
  color: white;
  font-size: 2.7em ;
  font-weight: 450;
  letter-spacing: 9px;
  justify-content: start;
}

.pgallery{
  padding-bottom: 1em;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-size: 1.5em ;
  text-align: justify;
  color: white;
  line-height: 2em;
  font-weight: normal;
  padding: 2em;
}

.galpic {
  display: flex;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  width: 90%;
  margin: auto;
  font-family: 'Arial, Helvetica, sans-serif';
  text-align: justify;
  word-spacing: -1.5px;
  color: white;
  justify-content: center;
  grid-gap: 1.2em;
  opacity: 0;
  padding: 20px;
  margin: 20px;
  animation: fade-in 2s ease-in forwards;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gallery-image {
  width: 380px;
  height: 390px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05); /* Scale the image by 1.1 on hover */
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 0, 0);
  z-index: 999;
}

.modal-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.9);
  margin: 0px;
}

/* overlay */
.modal-image-container {
  position: relative;
  overflow: hidden;
}

.modal-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 18, 18, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-image-container:hover .modal-image-overlay {
  opacity: 1;
}

.modal-content {
  background-color: rgba(23, 20, 20, 0.8);
  border-radius: 10px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0.4em;
}


.download-button {
  display: flex;
  justify-content: center;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-size: 1.5em;
  font-weight: 300;
  color:#090909;
  border:dashed 2px #e0c397;
  background-color: rgb(99, 9, 9);
  border-radius: 15px;
  padding: 0.5em 1em; /* Adjust padding as needed */
  margin-top: 1em; /* Add margin to separate from the image */
  cursor: pointer; 
}

.download-button a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.download-button:hover {
  background-color: #8b0000; /* Darker shade on hover if needed */
  color: beige !important;
}

.close {
  font-size: 2em;
  color: #100f0f;
  cursor: pointer;
  position: absolute;
  top: -0.05em;
  left: 1em;
  /* margin-bottom: 0.5em; */
}


.arrow {
  font-size: 2.75em;
  font-weight: 500;
  color: #141111;
  cursor: pointer;
  position: absolute;
  top: -0.55em;
  /* transform: translateY(-50%); */
}

.arrow-left {
  display: flex;
  font-size: 3em;
  left: 5px;
  padding-left: 7em;
}

.arrow-right {
  right: 5px;
  font-size: 3em;

}


     /* ContactUs */

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-content: center;
    align-items: center; */
    margin: auto important;
  }
  .get-in-touch {
    padding-top: 1em;
  }
 }

 @media (max-width: 768px) {
   .form-container {
     flex-direction: column;
   }
  }

  .container-zone{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    /* background-image: url('NZ1.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0; */
    
    
  } 

  .contact-container{
    display: flex;
    
    flex-direction: column; 
  }
  
  .form-animation-container {
    display: flex;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    /* flex-direction: row;  */
    /* justify-content: space-between; */
  }
  
  .form-animation-container {
    animation: slideIn 2s ease-out; /* Define animation */
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(50%); /* Start off the screen to the left */
    }
    100% {
      transform: translateX(0); /* End at the original position */
  }
}
.allform {
  /* background-color: #e3d2d2; */
  font-family: 'Cairo',Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}
.contactform{
  padding-top: 3em;

}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1em; */
  width: auto; /* Adjusted width to take up half of the container */
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: #141313;
  font-size: 1.2em;
  box-shadow: 7px #ed5f18;

}
.info-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141313;
  font-size: 1.2em;
}

.icon {
  font-size: 1.5em;
  /* margin-right: 10px; */
  color: white;
  padding-right: 0.25em;
}
.get-in-touch {
  /* padding-top: 1em; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.form-part {
  flex: 1;
  margin-right: 15px; /* Adjust the spacing between the two form parts */
}
.form-group {
  margin-bottom: 10px; /* Adjust the spacing between form elements */
}
.message{
  height: 5em;
}

/* Add or update the styles for the submit button */
.custom-btn {
  display: flex;
  flex-direction: row;
  /* background-color: red; Set the background color to red */
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  height: 3em;
  width: 50%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: rgb(70, 2, 2); /* Change the hover background color if needed */
}

.custom-btn:active {
  background-color: #b5b270;
  box-shadow: 02px #c9c9c9;
  transform: translateY(5px);
}

.popup {
  background-color: rgba(234, 225, 225, 0.8);
  position: fixed;
  top: 26%;
  left: 50%;
  border: 3px solid grey;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
  font-size: 1.45em;
  color: rgb(15, 12, 12);
  text-align: center;
  box-shadow: 2px 2px #868889;
}

.popup p {
  margin-bottom: 10px;
}